#nih{

	width: 90px;
	height: 52px;
	
	position: relative;
	right: 7px;

}
#deln{

	width: 100px;
	height: 60px;
	
	font-style: none;
	font-color: white;



}
#niharkainput{

	width: 140px;
	height: 40px;
	


}